<form action ="/list_bookmarks" method ="get">
    <label for="list" style="color:white;font-size:25px">
      Make a selection
      <input type="text" id = "list" name="list" style="font-size:25pt;">
    </label>
<input type="submit" value="View bookmarks">
</form>